{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="wp">
		<div class="title">
			编辑书签
		</div>
		<div class="req">
			<form method="post" action="">
                {% csrf_token %}
				<ul>
					<li>
						<label>URL</label>
						<input type="text" name="url" class="bm_input" value="{{ bm.url }}" placeholder="">
                        <input type="hidden" name="bookmark_id" value="{{ bm.id }}">
						<span></span>
					</li>
					<li>
						<label>标题</label>
						<input type="text" name="title" class="bm_input" value="{{ bm.website_title }}" placeholder="">
						<span></span>
					</li>
					<li>
						<label>类别</label>
						<input type="text" name="folder_name" class="bm_input" value="{{ bm.folder.folder_name }}" placeholder="">
                        <input type="hidden" name="folder_id" value="{{ bm.folder.id }}">
						<span></span>
					</li>
					<li>
						<label>标签</label>
						<input type="text" name="tags" class="bm_input" value="{{ tags_str }}" placeholder="">
						<span>多个标签之间用(#)号分隔</span>
					</li>
					<li>
						<label>备注</label>
						<textarea class="bm_text" name="desc">{% if bm.desc %}{{ bm.desc }}{% else %}{% endif %}</textarea>
						<span></span>
					</li>
					<li class="sub_on z">
						<input type="submit" name="" value="保存" placeholder="">
						<span></span>
					</li>
					<li class="sub_off z">
						<input type="button" name="url" value="退出" placeholder="" onclick="javascript:history.back(-1);">
						<span></span>
					</li>
				</ul>

			</form>
		</div>
	</div>
{% endblock body %}